<head>
  <link rel="stylesheet" href="/styles.css" />
</head>
<div>
  <h1>New Message Form</h1>
  <form method="POST" action="/new">
    <div class="label-input-pair">
      <label for="username">Name:</label>
      <input id="username" type="text" name="username" />
    </div>
    <div class="label-input-pair">
      <label for="text">Message:</label>
      <textarea id="text" type="text" name="text"></textarea>
    </div>
    <input type="submit" value="Submit" />
  </form>
</div>
<footer>
  <a href="/">Go to messages</a>
</footer>
