* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  padding: 12px 0;
}

.outer-list {
  display: grid;
  list-style-type: none;
  padding: 0;
}

.inner-list {
  list-style: none;
  padding: 12px;
  border: 1px solid gray;
}

.inner-list li {
  border-bottom: 1px solid rgba(128, 0, 128, 0.2);
}

footer {
  width: 100%;
  padding: 12px;
  margin: 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  background-color: rgb(212, 212, 212);
}
